@model string

@{
    ViewBag.Title = "Error";
}

<div class="row">
    <div class="col s12 m8 l6 push-m2 push-l3">
        <h2 class="grey-text center">Error</h2>
        <br/>
        <br/>
        <h5 class="center">@Model</h5>
    </div>
</div>
