<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="logDirectory" value="${basedir}/App_Data/Logs/${shortdate}" />
  <targets>

    <target name="fileLogTrace" xsi:type="File" fileName="${logDirectory}/Trace.log" layout="${activityid}|${longdate}|${level:uppercase=true}|${logger}|${message}" />
    <target name="fileLogDebug" xsi:type="File" fileName="${logDirectory}/Debug.log" layout="${activityid}|${longdate}|${level:uppercase=true}|${logger}|${message}" />
    <target name="fileLogInfo" xsi:type="File" fileName="${logDirectory}/Info.log" layout="${activityid}|${longdate}|${level:uppercase=true}|${logger}|${message}" />
    <target name="fileLogError" xsi:type="File" fileName="${logDirectory}/ErrorsAndWarns.log" layout="${activityid}|${longdate}|${level:uppercase=true}|${logger}|${message}" />
    <target name="fileLogPerformanceAndIps" xsi:type="File" fileName="${logDirectory}/PerformanceAndIps.log" layout="${activityid}|${longdate}|${level:uppercase=true}|${message}" />
    <target name="fileLogAll" xsi:type="File" fileName="${logDirectory}/AllLogs.log" layout="${activityid}|${longdate}|${level:uppercase=true}|${logger}|${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="fileLogAll" />
    <logger name="*" level="Trace" writeTo="fileLogTrace" />
    <logger name="*" level="Debug" writeTo="fileLogDebug" />
    <logger name="*" level="Info" writeTo="fileLogInfo" />
    <logger name="Filter logging" minlevel="Info" writeTo="fileLogInfo" />
    <logger name="*" minlevel="Warn" writeTo="fileLogError" />
    <logger name="Filter logging" maxlevel="Debug" writeTo="fileLogPerformanceAndIps" />
  </rules>

</nlog>