@using HospitalManager.WEB.Infrastructure
@model string
@{
    ViewBag.Title = "Pay";
}

<div class="row container" style="margin-bottom: 450px">
    <div class="col s12 m6 push-m3">
        <p class="flow-text center">New payment</p>
        <hr/>
        <form method="POST" action="https://api.privatbank.ua/p24api/ishop">
            <input type="hidden" name="merchant" value="@GlobalVaribles.MerchantId"/>
            <input type="hidden" name="order" value="@Model"/>
            <input type="hidden" name="pay_way" value="privat24"/>
            <input type="hidden" name="return_url" value="http://hospital-manager.azurewebsites.net"/>
            <input type="hidden" name="server_url" value="http://hospital-manager.azurewebsites.net/payment/confirm"/>
            <input type="hidden" name="ccy" value="UAH"/>
            <input type="hidden" name="ext_details" value=""/>

            <div class="row">
                <div class="input-field col s12">
                    <textarea id="details" name="details" required class="materialize-textarea"></textarea>
                    <label for="details">Purpose of payment</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 push-s3">
                    <input name="amt" id="sum" type="number" step="0.01" required class="validate" value="100.00">
                    <label for="sum">Sum (UAH)</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 push-s3 center">
                    <input type="submit" class="waves-effect waves-light btn" value="Pay" />
                </div>
            </div>
        </form>
    </div>
</div>